*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
}
body,html{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(142, 219, 142);
}

#panel{
    width: 80%;
    height: 80%;
    border-radius: 2%;
    background-color: #fff;
    overflow: hidden;
}

#ptop{
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    background-color: rgb(31, 80, 31);
    color: #fff;
}
.elem{
    display: flex;
    align-items: center;
    width: 10%;
    gap: 20px;
}
.box{
    color: #000;
    font-size: 20 px;
    font-weight: 700;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 10%;
}

#pbtm{
    padding: 0px 5px;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(136, 170, 136);
    color: #fff;
    border-radius: 50%;
    font-weight: 800;
    font-size: 20px;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(78, 102, 78);
}